.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.circle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 100%;
    border: 4px solid #222;
    position: relative;
    width: 100%;
    height: 100%;
    animation: 5s linear infinite fractalAnimate;
}

#circle-1 {
    width: 50px;
    height: 50px; 
}

#circle-1 .circle {
    background-color: #222;
}

#circle-2 {
    width: 100px;
    height: 100px;

}

#circle-3 {
    width: 162.5px;
    height: 162.5px;
}

#circle-3 .circle {
    border-width: 3px;
}

#circle-4 {
    width: 225px;
    height: 225px;
}

#circle-4 .circle {
    border-width: 2px;
}

@keyframes fractalAnimate {
    0% {
        width: 75%;
        height: 75%;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 75%;
        height: 75%;
    }
}