body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #222;
  font-family: inherit;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  width: 7.5em;
  height: 2.5em;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}
